<h1>Listing unit_sizes</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unit_sizes.each do |unit_size| %>
  <tr>
    <td><%= unit_size.description %></td>
    <td><%= unit_size.size %></td>
    <td><%= link_to 'Show', unit_size %></td>
    <td><%= link_to 'Edit', edit_unit_size_path(unit_size) %></td>
    <td><%= link_to 'Destroy', unit_size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit size', new_unit_size_path %>
