<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @unit_size.description %>
</p>

<p>
  <b>Size:</b>
  <%= @unit_size.size %>
</p>


<%= link_to 'Edit', edit_unit_size_path(@unit_size) %> |
<%= link_to 'Back', unit_sizes_path %>
