<%= form_for(@sku) do |f| %> 
  <% if @sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sku.errors.count, "error") %> prohibited this SKU from being saved:</h2>
      <ul>
      <% @sku.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field wrappable">
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </div>
  <div class="field wrappable">
    <%= f.label :location_id %><br />
    <%= collection_select :sku, :location_id, @locations, :id, :address1 %>
  </div>
  <div class="field wrappable">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field wrappable">
    <%= f.label :inbound_date %><br />
    <%= f.text_field :inbound_date %>
  </div>
  <div class="field wrappable">
    <%= f.label :supplier_id %><br />
    <%= collection_select :sku, :supplier_id, @suppliers, :id, :name %>
  </div>
  <div class="field wrappable">
    <%= f.label :article_id %><br />
    <%= collection_select :sku, :article_id, @articles, :id, :description %>
  </div>
  <div class="field wrappable">
    <%= f.label :gender_id %><br />
    <%= collection_select :sku, :gender_id, @genders, :id, :description %>
  </div>
  <div class="field wrappable">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field wrappable">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field wrappable">
    <%= f.label :inbound_qty %><br />
    <%= f.text_field :inbound_qty %>
  </div>
  <div class="field wrappable">
    <%= f.label :outbound_qty %><br />
    <%= f.text_field :outbound_qty %>
  </div>
  <div class="field wrappable">
    <%= f.label :lost_qty %><br />
    <%= f.text_field :lost_qty %>
  </div>
  <div class="field wrappable">
    <%= f.label :transferred_qty %><br />
    <%= f.text_field :transferred_qty %>
  </div>
  <div class="field wrappable">
    <%= f.label :transferred_in_qty %><br />
    <%= f.text_field :transferred_in_qty %>
  </div>
  <div class="field wrappable">
    <%= f.label :min_stock_integer %><br />
    <%= f.text_field :min_stock_integer %>
  </div>
  <div class="field wrappable">
    <%= f.label :sales_price %><br />
    <%= f.text_field :sales_price %>
  </div>
  <div class="field wrappable">
    <%= f.label :cost_price %><br />
    <%= f.text_field :cost_price %>
  </div>
  <div class="field wrappable">
    <%= f.label :cost_price_igic %><br />
    <%= f.text_field :cost_price_igic %>
  </div>
  <div class="field wrappable">
    <%= f.label :unit_size_id %><br />
    <%= collection_select :sku, :unit_size_id, @unit_sizes, :id, :description %>
  </div>
  <div class="field wrappable">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field wrappable">
    <%= f.label :season_id %><br />
    <%= f.text_field :season_id %><!-- Needs Combobox -->
  </div>
  <div class="clear"></div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :synchronized %>
      Synchronized
    </label>
  </div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :inactive %>
      Inactive
    </label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
