<table id="locations" class="display table">
  <thead>
    <tr>
      <th>Article</th>
      <th>Color</th>
      <th>Cost Price</th>
      <th>Cost Price IGIC</th>
      <th>Description</th>
      <th>Gender</th>
      <th>Inactive</th>
    </tr>
  </thead>
  <tbody>
  <% @skus.each do |sku| %>
    <tr>
      <td><%= sku.article_id -%></td>
      <td><%= sku.color -%></td>
      <td><%= sku.cost_price -%></td>
      <td><%= sku.cost_price_igic -%></td>
      <td><%= sku.description -%></td>
      <td><%= sku.gender_id -%></td>
      <td><%= sku.inactive -%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<hr>

<p>
  <%= link_to 'New SKU', new_sku_url %>
</p>

<!--
  attr_accessible :article_id, :color, :cost_price, :cost_price_igic, :description, :gender_id, :inactive, :inbound_date, :inbound_qty, :location_id, :lost_qty, :min_stock_integer, :model, :outbound_qty, :sales_price, :season_id, :sex, :sku, :supplier_id, :synchronized, :transferred_in_qty, :transferred_qty, :unit_size_id
-->
