<table id="locations" class="display table">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Article</th>
      <th>Color</th>
      <th>Cost Price</th>
      <th>Cost Price IGIC</th>
      <th>Description</th>
      <th>Gender</th>
      <th>Inactive</th>
      <th>Location</th>
      <th>Model</th>
      <th>Sales Price</th>
      <th>Season</th>
      <th>Supplier Name</th>
      <th>Unit Size</th>
      <th>Inbound Date</th>
      <th>Inbound Quantity</th>
      <th>Lost Quantity</th>
      <th>Min Stock</th>
      <th>Outbound Quantity</th>
      <th>Transferred in Quantity</th>
      <th>Transferred Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% @skus.each do |sku| %>
    <tr>
      <td><%= sku.sku -%></td>
      <td><%= sku.article_description -%></td>
      <td><%= sku.color -%></td>
      <td><%= sku.cost_price -%></td>
      <td><%= sku.cost_price_igic -%></td>
      <td><%= sku.description -%></td>
      <td><%= sku.gender_description -%></td>
      <td><%= sku.inactive -%></td>
      <td><%= sku.location_address -%></td>
      <td><%= sku.model -%></td>
      <td><%= sku.sales_price -%></td>
      <td><%= sku.season_name -%></td>
      <td><%= sku.supplier_name -%></td>
      <td><%= sku.unit_size_size -%></td>
      <td><%= sku.inbound_date -%></td>
      <td><%= sku.inbound_qty -%></td>
      <td><%= sku.lost_qty -%></td>
      <td><%= sku.min_stock_integer -%></td>
      <td><%= sku.outbound_qty -%></td>
      <td><%= sku.transferred_in_qty -%></td>
      <td><%= sku.transferred_qty -%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />
<hr>

<p>
  <%= link_to 'New SKU', new_sku_url %>
</p>
