<h2>Account Summary</h2>

<h3>Registration Code</h3>
<%= @account.registration_code %>

<h3>Resource Management</h3>
<ul>
  <li><%= link_to 'Articles', articles_url -%></li>
  <li><%= link_to 'Genders', genders_url -%></li>
  <li><%= link_to 'Locations', locations_url -%></li>
  <li><%= link_to 'Seasons', seasons_url -%></li>
  <li><%= link_to 'SKUs', skus_url -%></li>
  <li><%= link_to 'Suppliers', suppliers_url -%></li>
  <li><%= link_to 'Unit Sizes', unit_sizes_url -%></li>
  <li><%= link_to 'Users', users_url -%></li>
</ul>
